h1{
    font-family: "Lucida Handwriting";
}
#tel{width: 3vh}

#mail {width: 3vh}

.img-1{
    height: 25vh;
    border-radius: 10px;
}

.img-2{
    height: 30vh;
    width: 40vh;
    border-radius: 10px;
}

.img-3{
    height: 30vh;
    width: 40vh;
    border-radius: 10px;
}

.img-4{
    height: 25vh;
    width: 40vh;
    border-radius: 10px;
}